* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    height: 100%;
    width: 100%;
    body{
        --color1: #e91e246e; /* background */
        --color2: #fff; /* text color */
        --color3: green; /* external link */
        --color4: purple; /* internal link */

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        scrollbar-width: none;
        background-color: var(--color1);
        color: var(--color2);

        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            nav{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                .return{
                    &:not(.hide) {
                        display: flex;
                    }
                    align-items: center;
                    &:hover {
                        font-weight: 800;
                    }
                }
            }

            .main_planning{
                display: flex;
                flex-direction: column;
                width: 100%;

                overflow-y: auto;
                scrollbar-width: none;

                .title_container{
                    width: 100%;
                    height: 100px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    .title {
                        font-weight: 800;
                    }
                }

                .day{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    &:hover {
                        font-weight: 800;
                    }
                }

                .div_tente {
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .video-tente {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            font-weight: 800;
                        }
                    }

                    .fa-brands {
                        color: red;
                    }
                }
            }

            .details{
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow-y: auto;
                scrollbar-width: none;
                align-items: center;

                .title{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .title-text {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 800;
                    }
                    .subtitle {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-style: italic;
                    }
                }

                #steps{
                    overflow-y: auto;
                    scrollbar-width: none;

                    .step {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        &.optionnal {
                            font-style: italic;
                        }
    
                        .step-title {
                            font-weight: 600;
    
                            .step-hours {
                                font-weight: 400;
                            }
                        }

                        .step-lien{
                            color: var(--color3);
                        }
    
                        .step-parking {
                            display: flex;
                            align-items: center;
    
                            .icon-parking {
                                background: #004593;
                                border: 4px solid white;
                                outline: 1px solid #004593;
                                border-radius: 4px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 800;
                            }
                        }
                    }
                }

                .camping_container {
                    &:not(.hide) {
                        display: flex;
                    }

                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;

                    .camping-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .camping-paiement {
                            text-align: center;
                        }

                        .camping-location {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        &.name{
                            font-weight: 800;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .selection {
                    &:not(.hide) {
                        display: flex;
                    }
                    justify-content: center;
                    align-items: center;
                    color: var(--color4)!important;
                }
            }

            .navigation-pages {
                display: flex;
                justify-content: space-between;

                .nav {
                    display: flex;
                    align-items: center;
                    &:hover {
                        font-weight: 800;
                    }
                    &.hide {
                        height: 0;
                        overflow: hidden;
                    }
                }
            }

            .hide {
                display: none;
                height: 0;
            }

            .fa-solid {
                /* color: var(--color2); */
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                text-decoration: none;
                color: var(--color3);
            }
        }
    }
}

@media screen and (width > 1200px) {
    html {
        body {    
            main {
                height: 100%;
                nav {
                    height: 40px;
    
                    .return {
                        padding-left: 16px;
                        font-size: 24px;
                    }
                }
    
                .main_planning {
                    &:not(.hide) {
                        height: calc(100% - 64px);
                    }
    
                    .title_container {
                        height: 100px;
                        gap: 20px;
    
                        .drapeau_suisse {
                            width: 100px;
                            height: 66px;
                        }
    
                        .title {
                            font-weight: 800;
                        }
                    }
    
                    .day {
                        .fa-solid {
                            font-size: 16px;
                        }
    
                        .date {
                            font-size: 14px;
                            margin: 4px;
                        }
                    }

                    .div_tente {
                        gap: 20px;
                        font-size: 24px;

                        .video-tente {
                            width: 30%;
                            gap: 8px;
                            font-size: 20px;
                        }

                        .fa-brands {
                            font-size: 16px;
                        }
                    }
                }
    
                .details {
                    &:not(.hide) {
                        height: calc(100% - 64px);
                    }

                    .title {
                        height: 100px;
                        .title-text {
                            font-size: 28px;
    
                            .fa-solid {
                                font-size: 16px;
                            }
                        }
    
                        .subtitle {
                            font-size: 20px;
                        }

                        .baignade,
                        .fa-person-swimming {
                            width: 32px;
                            height: 32px;
                            font-size: 24px;
                        }
    
                    }
    
                    .step {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 40px;
    
                        .step-title {
                            font-size: 18px;
    
                            .step-hours {
                                font-size: 16px;
                            }
                        }
    
                        .step-parking {
                            gap: 4px;
    
                            .icon-parking {
                                width: 24px;
                                height: 24px;
                                font-size: 20px;
                            }
                        }
                    }

                    .camping_container{
                        .camping-container.name{
                            font-size: 24px;
                            gap: 4px;
                        }
                    }
    
                    .selection {
                        width: 80px;
                        height: 80px;
                        font-size: 40px;
                    }
                }
    
                .navigation-pages {
                    margin-bottom: 16px;
    
                    .nav {
                        font-size: 24px;
                        padding: 0 16px;
                    }
                }
    
                .fa-solid {
                    width: 32px;
                    height: 32px;
                }            
            }
        }
    }
}

@media screen and (width <=1200px) {
    html {
        body {
            main {
                height: calc(100% - 4rem);
                nav {
                    height: 4rem;

                    .return {
                        padding-left: 1.6rem;
                        font-size: 2.4rem;
                    }
                }

                .main_planning {
                    &:not(.hide) {
                        height: calc(100% - 6.4rem);
                    }

                    .title_container {
                        height: 10rem;
                        gap: 20px;

                        .drapeau_suisse {
                            width: 10rem;
                            height: 6.6rem;
                        }

                        .title {
                            font-size: 4rem;
                        }
                    }

                    .day {
                        font-size: 2.5rem;

                        .fa-solid {
                            font-size: 1.6rem;
                        }

                        .date {
                            font-size: 2rem;
                            margin: 0.4rem;
                        }
                    }

                    .div_tente {
                        gap: 2rem;
                        font-size: 2.25rem;

                        .video-tente {
                            width: 35%;
                            gap: 0.8rem;
                            font-size: 2rem;
                        }

                        .fa-brands {
                            font-size: 1.6rem;
                        }
                    }
                }

                .details {
                    &:not(.hide) {
                        height: calc(100% - 6.4rem);
                    }

                    .title {
                        height: 10rem;
                        margin-top: 2rem;

                        .title-text {
                            font-size: 2.8rem;

                            .fa-solid {
                                font-size: 1.6rem;
                            }
                        }

                        .subtitle {
                            font-size: 2rem;
                        }

                        .baignade,
                        .fa-person-swimming {
                            width: 4rem;
                            height: 4rem;
                            font-size: 2.4rem;
                        }

                    }

                    #steps {
                        height: calc(100% - 18rem);

                        .step {
                            font-size: 1.8rem;
                            padding: 2rem 4rem;

                            .step-title {
                                font-size: 2rem;

                                .step-hours {
                                    font-size: 1.6rem;
                                }
                            }

                            .step-parking {
                                gap: 0.4rem;

                                .icon-parking {
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }

                    .camping_container {
                        height: calc(100% - 18rem);
                        gap: 2rem;
                        font-size: 1.8rem;
                        .camping-container.name{
                            font-size: 2.4rem;
                            gap: 0.4rem;
                        }
                    }

                    .selection {
                        width: 8rem;
                        height: 8rem;
                        font-size: 4rem;
                    }
                }

                .navigation-pages {
                    margin-bottom: 1.6rem;

                    .nav {
                        font-size: 2.4rem;
                        padding: 0 1.6rem;
                    }
                }

                .fa-solid {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }
    }
}