*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    height: 100%;
    width: 100%;

    body{
        --color1: #084B83;
        --color2: #BBE6E4;
        /* --height-screen: 4rem;
        --height-phone: 5.6rem; */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        scrollbar-width: none;

        /* Does not work for now */
        /* Hide scrollbar for Chrome, Safari and Opera */
        /* .example::-webkit-scrollbar {
            display: none;
        } */
        
        /* Hide scrollbar for Firefox */
        /* .example {
            scrollbar-width: none;
        }  */

        

        .btn {
            background-color: var(--color2);
            color: var(--color1);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
        }

        main{
            height: calc(100% - 4rem);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            nav{
                width: 100%;
                height: 4rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .return{
                    padding-left: 1.6rem;
                    font-size: 2.4rem;
                    &:not(.hide){
                        display: flex;
                    }
                    align-items: center;
                    &:hover{
                        font-weight: 800;
                    }
                }
            }
            .main_planning{
                display: flex;
                flex-direction: column;
                width: 100%;
                &:not(.hide){
                    height: calc(100% - 6.4rem);
                }
                overflow-y: auto;
                scrollbar-width: none;
                .title_container{
                    width: 100%;
                    height: 10rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    .drapeau_suisse{
                        width: 10rem;
                        height: 6.6rem;
                    }
                    .title{
                        font-size: 4rem;
                        font-weight: 800;
                    }
                }
                .day{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    font-size: 2.5rem;
                    &:hover{
                        font-weight: 800;
                    }
                    .fa-solid{
                        font-size: 1.6rem;
                        /* margin: 8px; */
                    }
                    .date{
                        font-size: 2rem;
                        margin: 0.4rem;
                    }
                }
                .div_tente{
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    font-size: 2.25rem;
                    .video-tente{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35%;
                        gap: 0.8rem;
                        font-size: 2rem;
                        &:hover{
                            font-weight: 800;
                        }
                    }
                    .fa-brands{
                        font-size: 1.6rem;
                        color: red;
                        /* margin: 8px; */
                    }
                }
            }
            .details{
                display: flex;
                flex-direction: column;
                width: 100%;
                &:not(.hide){
                    height: calc(100% - 6.4rem);
                }
                overflow-y: auto;
                scrollbar-width: none;
                align-items: center;
                .title{
                    width: 100%;
                    height: 10rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                    .title-text{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2.8rem;
                        font-weight: 800;
                        .fa-solid{
                            font-size: 1.6rem;
                        }
                    }
                    .subtitle{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        font-style: italic;
                    }
                    .baignade, .fa-person-swimming{
                        width: 4rem;
                        height: 4rem;
                        font-size: 2.4rem;
                    }
                    
                }
                #steps{
                    height: calc(100% - 18rem);
                    overflow-y: auto;
                    scrollbar-width: none;
                    .step{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.8rem;
                        &.optionnal{
                            font-style: italic;
                        }
                        padding: 2rem 4rem;
                        .step-title{
                            font-size: 2rem;
                            font-weight: 600;
                            .step-hours{
                                font-weight: 400;
                                font-size: 1.6rem;
                            }
                        }
                        .step-parking{
                            display: flex;
                            align-items: center;
                            gap: 0.4rem;
                            .icon-parking{
                                background: #004593;
                                width: 2.4rem;
                                height: 2.4rem;
                                border: 4px solid white;
                                outline: 1px solid #004593;
                                border-radius: 4px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 2rem;
                                font-weight: 800;
                            }
                        }
                    }
                }
                

                .camping_container{
                    &:not(.hide){
                        display: flex;
                    }
                    flex-direction: column;
                    width: 100%;
                    height: calc(100% - 18rem);
                    overflow-y: auto;
                    scrollbar-width: none;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    font-size: 1.8rem;
                    .camping-container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .camping-paiement{
                            text-align: center;
                        }
                        .camping-location{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .selection{
                    &:not(.hide){
                        display: flex;
                    }
                    width: 8rem;
                    height: 8rem;
                    justify-content: center;
                    align-items: center;
                    font-size: 4rem;
                }
            }
            .navigation-pages{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.6rem;
                .nav{
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    &:hover{
                        font-weight: 800;
                    }
                    padding: 0 1.6rem;
                    &.hide{
                        height: 0;
                        overflow: hidden;
                    }
                }
            }

            .hide{
                display: none;
                height: 0;
            }
            .fa-solid{
                color: black;
                width: 3.2rem;
                height: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }        
    }
}

/* @media screen and (width > 1200px) {
    html{
        body{
            main{
                .main_planning{
                    .day{
                        height: 40px;
                        font-size: 20px;
                        .date{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
} */

/* @media screen and (width <= 1200px) {
    html{
        body{
            main{
                .main_planning{
                    .day{
                        /* height: 56px; */
                        /* font-size: 28px; */
                        /* height: 8%;
                        font-size: 2.5rem;
                        .date{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
} */